<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DB_IP" connectionString="Data Source=win2008r2;Initial Catalog=LinkToTweet_INT;Integrated Security=False;User ID=sa;Password=Galaxy.01;Connect Timeout=0;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
  <appSettings>
    <add key="db-ip-file-path" value="C:\Users\zoran\Desktop\dbip-city.csv"/>
  </appSettings>
</configuration>